/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap'); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --white: #ffffff;
    --dim-white: #f4f4f4;
    --favourite: #ffc500;
    --favourite1: rgb(211, 35, 211);
    --underline: rgb(255, 217, 147);
    /* --favourite: orange; */
}

body {
    background-color: rgb(240, 235, 235);
    overflow-x: hidden;
    background-image: url('./assets/bg.png');
}

i {
    font-size: 23px !important;
}

p,small {
    font-size: 13px;
    color: gray;
}

button {
    background-color: var(--favourite);
    padding: 8px 20px;
    outline: none;
    border: 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button span {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: fit-content;
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
}

button span i {
    position: absolute;
    top: 5px;
    /* color: #000; */
    background-color: #fff;
    border-radius: 50px;
    font-size: 27px;
}

.container {
    display: flex;
    width: 100%;
    padding: 60px 110px 0;
}

.container .leftContainer {
    /* margin: 25px 0; */
    display: flex;
    flex-direction: column;
    background-color: var(--dim-white);
    /* padding: 10px 0; */
    width: 30%;
    min-width: 250px;
    /* height: 500px; */
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.container .leftContainer .profImg {
    height: 250px;
    /* height: 300px; */
    /* overflow: hidden; */
}

.container .leftContainer .myProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}    
.container .leftContainer .myProfile h3 {
    text-transform: uppercase;
    display: flex;
    font-size: 16px;
}

.container .leftContainer .myProfile .profHead {
    /* margin: auto; */
    margin: 20px 20px 0 20px;
}

.container .leftContainer .profImg {
    margin-top: -15px;
    position: relative;
    display: flex;
    justify-content: center;
}

.container .leftContainer .profImg img {
    height: 240px;
    clip-path: polygon(0 15%, 100% 0, 100% 87%, 0% 100%);
    padding-top: 10px;
    margin-left: 85px;
}

.container .leftContainer .myProfile .profImg .profInfo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 220px;
}

.container .leftContainer .myProfile .profImg .profInfo .marker .round {
    height: 40px;
    width: 40px;
    background-color: var(--favourite);
    border-radius: 50px;
    margin-bottom: 20px;
    border-top: 1.5px solid #fff;
    border-left: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
    box-shadow: 0px 2px 10px lightgray;
    z-index: 9;
    /* overflow: hidden; */
    display: flex;
}

.container .leftContainer .myProfile .profImg .profInfo .marker .round img {
    height: 30px;
    margin: 2px;
}

.container .leftContainer .myProfile .profImg .profInfo .marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
}

.container .leftContainer .myProfile .profImg .profInfo .marker::after {
    content: "";
    height: 200px;
    /* height: 100%; */
    width: 1px;
    background-color: lightgrey;
    position: absolute;
    /* z-index: -1; */
}

.container .leftContainer .myProfile .profImg .profInfo .info {
    margin-top: 52px;
}

.container .leftContainer .myProfile .profImg .profInfo .info span {
    color: #000;
    font-size: 13.5px;
}

.container .leftContainer .myProfile .profImg .profInfo .info p {
    margin: 15px 0;
}

.container .leftContainer .myProfile .profImg .profInfo .marker .dot {
    height: 8px;
    width: 8px;
    background-color: var(--favourite);
    border-radius: 50px;
    margin: 11.4px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .leftContainer .myProfile .profImg .profInfo .marker .dot::after {
    content: "";
    height: 1px;
    width: 1px;
    padding: 1.5px;
    background-color: #fff;
    border-radius: 50px;
}

.container .leftContainer .myProfile .profImg .profInfo .info button {
    margin-top: 50px;
}

.container .leftContainer .myProfile .profImg .profInfo .info button span i {
    padding: 2px 3.5px;
    font-size: 22px !important;
}

.container .rightContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .rightContainer .cont {
    background-color: var(--dim-white);
    margin: 0 0 35px 25px;
}
.container .rightContainer .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
}
.container .rightContainer .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .4s;
}
.container .rightContainer .navbar ul li {
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.container .rightContainer .navbar ul li:not(.origin):hover {
    cursor: pointer;
    color: var(--favourite) !important;
    transform: scale(1.1);
}


.container .upperContainer .navbar .leftNav .origin {
    background-color: var(--favourite);
    width: 70px;
    height: 70px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container .upperContainer .navbar .rightNav {
    margin: 0 10px 0 0;
    transition: .4s;
}

.container .upperContainer .navbar .rightNav ul li:nth-child(1):hover i {
    color: blue !important;
    transform: scale(1.2);
}

.container .upperContainer .navbar .rightNav ul li:nth-child(2):hover i {
    color: royalblue !important;
    transform: scale(1.2);
}

.container .upperContainer .navbar .rightNav ul li:nth-child(3):hover i {
    /* color: pink !important; */
    color: #d62976 !important;
    transform: scale(1.2);
}

.container .upperContainer .navbar .rightNav ul li:nth-child(4):hover i {
    /* border-radius: 20px; */
    /* padding: 2px 3px; */
    /* border: 1px solid; */
    transform: scale(1.2);
}

.container .upperContainer .navbar .rightNav ul li i {
    font-size: 15px !important;
}
.container .upperContainer .navbar .rightNav ul li button {
    background-color: var(--favourite);
    padding: 8px 20px;
    outline: none;
    border: 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .upperContainer .navbar .rightNav ul li button span {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: fit-content;
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
}
/* .container .upperContainer .navbar .rightNav ul li button span:nth-last-child(1) {
    position: absolute;
} */

.container .upperContainer .navbar .rightNav ul li button span i {
    position: absolute;
    top: 5px;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    font-size: 27px !important;
}

/* .container .rightContainer .lowerContainer {
    padding: 50px 30px;
} */

.container .rightContainer .lowerContainer .aboutMe {
    padding: 50px 30px;
    background-color: #ffffff;
    /* border-radius: 0 0 10px 10px; */
    border-radius: 10px;
    position: relative;
}

.container .rightContainer .lowerContainer .aboutMe h4 {
    margin-left: 3px;
    z-index: 99;
    position: absolute;
}

.container .rightContainer .lowerContainer .aboutMe .underline {
    height: 8px;
    /* width: 9%; */
    width: 75px;
    /* bottom: 155px; */
    bottom: 69%;
    position: absolute;
    background-color: var(--underline);
}

.container .rightContainer .lowerContainer .aboutMe p {
    margin-top: 50px;
    line-height: 25px;
}

.container .rightContainer .lowerContainer .myServices {
    padding: 50px 30px;
    position: relative;
}

.container .rightContainer .lowerContainer .myServices h4 {
    margin-left: 3px;
    z-index: 99;
    position: absolute;
}

.container .rightContainer .lowerContainer .myServices .underline {
    height: 10px;
    /* width: 11.2%; */
    width: 95px;
    /* bottom: 239px; */
    /* bottom: 76.9%; */
    /* bottom: 82.5%; */
    bottom: 77.5%;
    position: absolute;
    background-color: var(--underline);
}

.container .rightContainer .lowerContainer .myServices .cards {
    margin-top: 50px;
    /* line-height: 25px; */
    display: flex;
}

.container .rightContainer .lowerContainer .myServices .cards .card {
    background-color: var(--white);
    margin: 0 5px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transform: .9s;
}

.container .rightContainer .lowerContainer .myServices .cards .card .logo {
    border: 2px solid lightgray;
    background-color: var(--dim-white);
    width: 30px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.container .rightContainer .lowerContainer .myServices .cards .card:hover .logo {
    cursor: pointer;
    background-color: var(--favourite);
}

.container .rightContainer .lowerContainer .myServices .cards .card .logo img {
    height: 20px;
}
.container .rightContainer .lowerContainer .myServices .cards .card h5 {
    margin: 20px 0 10px 0;
}

.container .rightContainer .lowerContainer .skills .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 60px 30px;
}

.container .rightContainer .lowerContainer .skills .cards .design-skill h4,
.container .rightContainer .lowerContainer .skills .cards .code-skill h4 {
    margin-left: 5px;
    margin-bottom: 30px;
}


.container .rightContainer .lowerContainer .skills .cards .code-skill ,
.container .rightContainer .lowerContainer .skills .cards .design-skill {
    display: flex;
    flex-direction: column;
    position: relative;
}
.container .rightContainer .lowerContainer .skills .cards .code-skill h4,
.container .rightContainer .lowerContainer .skills .cards .design-skill h4 {
    z-index: 99;
}
.container .rightContainer .lowerContainer .skills .cards .code-skill .underline,
.container .rightContainer .lowerContainer .skills .cards .design-skill .underline {
    height: 10px;
    width: 95px;
    background-color: var(--underline);
    position: absolute;
    top: 10px;
}
.container .rightContainer .lowerContainer .skills .cards .code-skill .underline {
    width: 83px;
}

.container .rightContainer .lowerContainer .skills .cards .code-skill .range,
.container .rightContainer .lowerContainer .skills .cards .design-skill .range {
    height: 5px;
    background-color: lightgrey;
    width: 365px;
    width: 300px;
    /* width: 100%; */
    margin: 10px 0;
}

.container .rightContainer .lowerContainer .skills .cards .code-skill .range .rangeFilled,
.container .rightContainer .lowerContainer .skills .cards .design-skill .range .rangeFilled {
    height: 5px;
    background-color: var(--favourite);
    /* width: 200px; */
    width: 70%;
    border-radius: 50px;
}

/* .resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.resume {
    /* margin: 10px 40px; */
    background-color: var(--white);
    position: relative;
}

.resume h4 {
    margin: 0 40px;
    position: inherit;
    z-index: 999;
    margin-bottom: 10px;
}

.resume .underline {
    background-color: var(--underline);
    height: 10px;
    /* width: 8%; */
    width: 68px;
    position: relative;
    top: -20px;
    left: 35px;
}

.subresume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
}

.subresume .round {
    background-color: var(--favourite);
    height: 15px;
    width: 15px;
    padding: 25px;
    border-radius:50px;
    position: relative;
    z-index: 99;
}

.subresume .dot {
    background-color: var(--favourite);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1px;
    width: 1px;
    padding: 4px;
    border-radius: 50px;
    position: relative;
    z-index: 99;
}

.subresume .dot .sm {
    content: "";
    background-color: #fff;
    padding: 2px;
    border-radius: 50px;
}

.big {
    margin-bottom: 35px;
}

.subresume .leftResume {
    display: flex;
}

.subresume .left {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}

.subresume .left::before {
    content: "";
    background-color: lightgrey;
    width: .5px;
    height: 90px;
    padding: .5px;
    /* padding: 5px; */
    position: absolute;
    z-index: 1;
}

.subresume .leftResume .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subresume .leftResume .info .subinfo {
    margin-top: 12px;
}

.h4 {
    margin-left: -40px;
    margin-top: 15px;
}

.h4.work,
.h4.edu {
    margin: 15px 0 35px 20px !important;
    /* margin-left: 50px !important;
    margin-top: -15px !important; */
    width: 100%;
}

.subresume .leftResume .info .subinfo .intro {
    display: block;
    margin-top: 10px;
}

/* responsiveness section starts */

@media screen and (max-width: 1240px) {
    .container .rightContainer .navbar ul li {
        padding: 0 10px;
        font-size: .8rem;
    }
}

@media screen and (max-width: 1160px) {
    .container .rightContainer .lowerContainer .skills .cards .design-skill .range,
    .container .rightContainer .lowerContainer .skills .cards .code-skill .range {
        width: 250px;
    }
}    

@media screen and (max-width: 1144px) {
    .container .rightContainer .lowerContainer .myServices .underline {
        bottom: 84%;
    }
}

@media screen and (max-width: 1130px) {
    .container .rightContainer .navbar ul li {
        padding: 0 7px;
        font-size: .8rem;
    }
}

@media screen and (max-width: 1090px) {
    .container .rightContainer .lowerContainer .aboutMe .underline {
        bottom: 72%;
    }
}
@media screen and (max-width: 1075px) {
    .container .rightContainer .navbar ul li {
        padding: 0 5px;
        font-size: .8rem;
    }
    .container .rightContainer .lowerContainer .aboutMe .underline {
        bottom: 72%;
    }
    .container .rightContainer .lowerContainer .skills .cards .design-skill .range,
    .container .rightContainer .lowerContainer .skills .cards .code-skill .range {
        width: 215px;
    }
}

@media screen and (max-width: 1040px) {
    .container .rightContainer .navbar ul li {
        padding: 0 3.53px;
        font-size: .8rem;
    }
}

@media screen and (max-width: 1040px) {
    .container .upperContainer .navbar .rightNav ul li button {
        padding: 5px 10px;
    }
    .container .upperContainer .navbar .rightNav ul li button span i {
        font-size: 1.28rem !important;
    }
}

@media screen and (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .container .rightContainer .navbar ul li {
        padding: 0 8px;
        font-size: .8rem;
    }
    .container .leftContainer {
        /* margin-bottom: 40px; */
        /* width: 95%; */
        width: 100%;
        margin: 0 auto 40px auto;
    }
    .container .leftContainer  {
        height: 95vh;
    }
    .container .leftContainer .profImg img {
        height: 52vh;
        margin: auto;
    }
    .container .leftContainer .myProfile .profImg .profInfo {
        top: 380px;
    }
    .container .rightContainer {
        margin: -10px;
    }
    .container .rightContainer .lowerContainer .aboutMe .underline {
        bottom: 69%;
    }
    .container .rightContainer .lowerContainer .myServices .underline {
        /* top: 60px; */
        bottom: 82.5%;
    }
    .container .rightContainer .lowerContainer .skills .cards .design-skill .range,
    .container .rightContainer .lowerContainer .skills .cards .code-skill .range {
        width: 290px;
    }
}

@media screen and (max-width: 895px) {
    .container .rightContainer .lowerContainer .myServices .underline {
        top: 60px;
        /* bottom: 74%; */
    }
    .container .rightContainer .lowerContainer .skills .cards {
        display: flex;
        flex-direction: column;
    }
    .container .rightContainer .lowerContainer .skills .cards .design-skill .range,
    .container .rightContainer .lowerContainer .skills .cards .code-skill .range {
        width: 100%;
        /* width: 590px; */
    }
    .container .rightContainer .lowerContainer .skills .cards .code-skill {
        margin-top: 50px;
    }
}

@media screen and (max-width: 840px) {
    .container .rightContainer .lowerContainer .aboutMe .underline {
        top: 62px;
    }
}

@media screen and (max-width: 823px) {
    .container .rightContainer .navbar ul li {
        padding: 0 5px;
        font-size: .8rem;
    }
    .subresume {
        display: flex;
        flex-direction: column;
    }
    .subresume .rightResume,
    .subresume .leftResume {
        margin-bottom: 20px;
    }
    .resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resume > h4 {
        width: 83%;
    }
    .resume .underline {
        position: absolute;
        top: 10px;
        left: 18px;
    }
}

@media screen and (max-width: 770px) {
    .container .rightContainer .navbar ul li {
        padding: 0 3px;
        font-size: .8rem;
    }
}

@media screen and (max-width: 733px) {
    .container .rightContainer .navbar .leftNav ul li:not(.origin) {
        /* visibility: invisible; */
        /* display: none; */
    }
}

@media screen and (max-width: 733px) {
    .container .upperContainer .navbar .rightNav ul li button {
        position: relative;
        /* background-color: transparent; */
    }

    .container .upperContainer .navbar .rightNav ul li button span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 20px;
        /* margin-bottom: 15px; */
    }
    .container .upperContainer .navbar .rightNav ul li button span:nth-child(1) {
        display: none;
        /* position: absolute; */
        /* top: -90px; */
        /* visibility: hidden; */
        /* background-color: transparent; */
    }
    .container .upperContainer .navbar .rightNav ul li button span i {
        border: 1px solid;
    }
    .container .rightContainer .lowerContainer .myServices .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

@media screen and (max-width: 650px) {
    .container .rightContainer .navbar .leftNav ul li:not(.origin) {
        /* visibility: invisible; */
        display: none;
    }
    .container .leftContainer {
        height: 85vh;
    }
    .container .leftContainer .profImg {
        margin-top: -15px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .container .leftContainer .profImg img {
        height: 350px;
        clip-path: polygon(0 15%, 100% 0, 100% 87%, 0% 100%);
        padding-top: 10px;
        margin-left: 85px;
    }
    .container .leftContainer .myProfile .profImg .profInfo {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 320px;
    }
}

@media screen and (max-width: 550px) {
    .container .leftContainer {
        height: 68vh;
    }
    .container .leftContainer .profImg img {
        height: 250px;
        margin-top: 5px;
    }
    .container .leftContainer .myProfile .profImg .profInfo {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 230px;
    }
    .container .leftContainer .myProfile .profImg .profInfo .info button {
        margin-top: 20px;
    }
    .container .rightContainer .lowerContainer .myServices .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

@media screen and (max-width: 502px){
    .resume .edu.h4 {
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 485px) {
    .container .leftContainer {
        height: 62vh;
    }
    .container .leftContainer .profImg img {
        height: 200px;
    }
    .container .leftContainer .myProfile .profImg .profInfo {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 180px;
    }
    /* .container .rightContainer {
        width: 105%;
        background-color: orange;
        margin: auto;
    } */
    .container .rightContainer .lowerContainer,
    .container .rightContainer .upperContainer {
        width: 250px;
        /* width: 100%; */
        margin: 0 10px 30px 10px;
    }
    .container .leftContainer .myProfile .profImg .profInfo .info button {
        margin-top: 15px;
    }

}

@media screen and (max-width: 432px) {
    .container {
        margin: auto !important;
        padding: 30px 89px;
    }
    .container .leftContainer {
        max-height: 70vh;
        height: 62vh;
        min-height: 55vh;
    }
    .container .leftContainer .profImg img {
        height: 189px;
    }
    .container .leftContainer .myProfile .profImg .profInfo {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 175px;
    }

    .container .rightContainer .navbar .leftNav .origin,
    .container .rightContainer .navbar {
        height: 10vh;
        /* width: 100%; */
    }
    .container .rightContainer .navbar .leftNav li.origin {
        width: 100%;
    }
    .container .rightContainer {
        /* width: 300px; */
        width: 100%;
        margin: auto;
    }
    .container .rightContainer .navbar .leftNav li.origin,
    .container .rightContainer .navbar .rightNav ul li {
        margin: auto;
    }
    .container .rightContainer .navbar .leftNav li.origin,
    .container .rightContainer .upperContainer {
        /* height: 9vh !important; */
        /* height: 8vh !important; */
        /* height: 7vh !important; */
    }
    .container .rightContainer .upperContainer {
        margin: 0 auto 40px !important;
    }
    .container .rightContainer .lowerContainer,
    .container .rightContainer .upperContainer {
        margin: auto;
    }
    .container .rightContainer .navbar .leftNav li.origin,
    .container .rightContainer .upperContainer {
        height: 4vh !important;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }
    .container .rightContainer .upperContainer .navbar {
        display: flex;
        justify-content: space-between !important;
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .container {
        margin: auto;
        padding: 50px;
    }
    .container .leftContainer .profImg img {
        /* height: 88%; */
        margin-left: 15px;
    }
@media screen and (max-width: 345px) {
    .container {
        padding: 10px 20px;
    }
    }
}

/* responsiveness section ends */